@{
    ViewBag.Title = "DjSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DjSet</h2>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="playersWrapper">
    <div style="text-align: center;">
        <input type="range" id="volume" max="100" min="0" step="1" oninput="changeVolume(this.value)" />
        <div>Volume</div>
    </div>
    <div id="player1Wrapper" style="float:left;">
        <div id="player"></div>
        <div id="controllsPlayer">
            <input type="button" onclick="pauseVideo('1')" value="PAUSE" />
            <input type="button" onclick="playVideo('1')" value="PLAY" />
            <div>
                <div style="margin-top: 10px;float:left;text-align: left;">Video Rate:</div> 
                <div style="float:right; width: 360px;"><input type="range" id="videoRatePlayer" max="2" min="0" step="0.5" oninput="changeVideoRate('1', this.value)" /></div>
            </div>
        </div>

        <div id="comments_vUaxDuv3fjE" style="width:440px;">
        </div>
        <input id="commentVideo_vUaxDuv3fjE" value='' type="text" /><input type="submit" onclick="addComment('vUaxDuv3fjE')" value="Add" />
        
    </div>
    
    <div id="player2Wrapper" style="float:right">
        <div id="player2"></div>
        <div id="controllsPlayer2">
            <input type="button" onclick="pauseVideo('2')" value="PAUSE" />
            <input type="button" onclick="playVideo('2')" value="PLAY" />
            <div>
                <div style="margin-top: 10px;float:left;text-align: left;">Video Rate:</div>
                <div style="float:right; width: 360px;"><input type="range" id="videoRatePlayer" max="2" min="0" step="0.5" oninput="changeVideoRate('2', this.value)" /></div>
            </div>

            <div id="comments_uxpDa-c-4Mc" style="width:440px;">
            </div>
            
        </div>
    </div>
    

    <div id="playerCommentWrapper" style="float:right">
        
    </div>
    <div id="player2CommentWrapper" style="float:right">
        
        
    </div>

    

    
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="~/Scripts/auth.js"></script>
<script src="~/Scripts/playlist_upload.js"></script>

<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player,player2;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '290',
          width: '450',
          volume:100,
          videoId: 'vUaxDuv3fjE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        player2 = new YT.Player("player2", {
            height: '290',
            width: '450',
            videoId: 'uxpDa-c-4Mc',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
          event.target.playVideo();
          event.target.setVolume(100);
          showVideoComments(event.target.B.videoData.video_id);
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(stopVideo, 6000);
          //done = true;
        }
      }
      function pauseVideo(ind) {
          if (ind === '1') {
              player.pauseVideo();
          }
          else
          {
              player2.pauseVideo(); 
          }
      }
      function playVideo(ind) {
          if (ind === '1') {
              player.playVideo();
          }
          else
          {
              player2.playVideo();
          }
      }
      function changeVolume(place)
      {
          if(place<=50)
          {
              player2.setVolume(place * 2);
              player.setVolume(100);
          }
          else
          {
              player2.setVolume(100);
              player.setVolume((100-place)*2);
          }
      }
      function changeVideoRate(ind, place)
      {
          if (ind === '1') {
              if (place <= 0.25) {
                  player.setPlaybackRate(0.25)
              }
              else {
                  player.setPlaybackRate(place)
              } 
          }
          else
          {
              if (place <= 0.25) {
                  player2.setPlaybackRate(0.25)
              }
              else {
                  player2.setPlaybackRate(place)
              }
          }
      }
      function showVideoComments(videoId)
      {
          $.ajax({
              url: "/Home/GetVideoComments",
              type: 'GET',
              data: {
                  videoId: videoId
              },
              error: function (e) {
                  alert("Error: " + e.responseText);
              },
              success: function (data) {
                  var comments = data;
                  for (var i = 0; i < comments.length; i++) {
                      var liContent = "<div style='padding-bottom:15px'><label>";
                      liContent += comments[i].authorName;
                      liContent += ": </label><span>";
                      liContent += comments[i].commentText;
                      liContent += "</span>";
                      liContent += "<div id='replay_commentId' style='padding-left:15px'>";
                      for (var j = 0; j < comments[i].replays.length; j++)
                      {
                          liContent += "<div>";
                          liContent += "<label>";
                          liContent += comments[i].replays[j].authorName;
                          liContent += ": </label><span>";
                          liContent += comments[i].replays[j].commentText;
                          liContent += "</span>";
                          liContent += "</div>";
                      }
                      liContent += "</div>";
                      liContent += "</div>";
                      
                      $("#comments_"+videoId).append(liContent);
                  }
              }
          });
      }
      function addComment(videoId) {
          //alert(videoId);
          $.ajax({
              url: "/Home/AddComment",
              type: 'GET',
              data: {
                  videoId: videoId,
                  commentText: $("#commentVideo_"+videoId).val()
              },
              error: function (e) {
                  alert("Error: " + e.responseText);
              },
              success: function (data) {
              }
          });
      }

</script>
