@{
    ViewBag.Title = "UpdatePlaylist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-container" class="pre-auth">
    This application requires access to your YouTube account.
    Please <a href="#" id="login-link">authorize</a> to continue.
</div>
<div id="pageBody" style="display:none">

    <h2>Existing Playlists</h2>
    <ul id="existingPlaylists">

    </ul>
    <h2>UpdatePlaylist</h2>


    <div id="buttons">

        <div id="playlistCreateSection">
            <label>PlaylistName: <input id="playlistName" value='' type="text" /></label>
            <label>
                PlaylistType:
                <select id="playlistType">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </label>
            <br />
            <button id="playlist-button" onclick="createPlaylist()">Create a new Private Playlist </button>
        </div>
        <div id="addVideo" style="display:none">
            <label>Current Playlist Id: <input id="playlist-id" value='' type="text" /></label>
            <br>
            <label>Video Id: <input id="video-id" value='GZG9G5txtaE' type="text" /></label><button onclick="addVideoToPlaylist()">Add to current playlist</button>
        </div>
    </div>
    <h3>Playlist: <span id="playlist-title"></span></h3>
    <p id="playlist-description"></p>
    <div id="playlist-container">
        <span id="status">No Videos</span>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="~/Scripts/auth.js"></script>
<script src="~/Scripts/playlist_upload.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
