@{
    ViewBag.Title = "UploadVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadVideo</h2>
@using (Html.BeginForm("UploadVideoMethod", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file"/>
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

