@{
    ViewBag.Title = "Home Page";
}
<div class="section-eq clearfix">
    <div class="componentBox box-eq eqLeft">
        <div class="controlEq">
            <div class="input_styled checklist pos1"><span class="eqComponentSwitchDescription">Low Pass Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice1_1" type="checkbox" id="invoice1_1" value="invoice" onclick="addLowPassFilter(this.checked, '0')"><label for="invoice1_1"></label></div></div>
            <div class="input_styled checklist pos2"><span class="eqComponentSwitchDescription">High Pass Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice1_2" type="checkbox" id="invoice1_2" value="invoice" onclick="addHighPassFilter(this.checked, '0')"><label for="invoice1_2"></label></div></div>
            <div class="input_styled checklist pos3"><span class="eqComponentSwitchDescription">Peaking Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice1_3" type="checkbox" id="invoice1_3" value="invoice" onclick="addPeakingFilter(this.checked, '0')"><label for="invoice1_3"></label></div></div>
            @*<div class="input_styled checklist pos2"><span class="eqComponentSwitchDescription">Low Pass</span><div class="rowCheckbox checkbox-large"><input name="invoice1_2" type="checkbox" id="invoice1_2" value="invoice"><label for="invoice1_2"></label></div></div>
                <div class="input_styled checklist pos3"><span class="eqComponentSwitchDescription">Low Pass</span><div class="rowCheckbox checkbox-large"><input name="invoice1_3" type="checkbox" checked id="invoice1_3" value="invoice"><label for="invoice1_3"></label></div></div>*@
        </div>
        <div class="eqComponentList">
            <div class="widget-knob pos2_1 widget-volume">
                <span class="eqComponentDescription">Frequency</span>
                <input type="text" value="99" autocomplete="off" id="volume1_1" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume1_1').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 99,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeFrequency(this, '0');
                        });
                    })
                </script>
            </div>
            <div class="widget-knob pos2_2 widget-volume">
                <span class="eqComponentDescription">Quality</span>
                <input type="text" value="0" autocomplete="off" id="volume1_2" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume1_2').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeQuality(this, '0');
                        });
                    });
                </script>
            </div>
            @*<div class="widget-knob pos2_3 widget-volume">
                    <span class="eqComponentDescription">EQ Title33 etc</span>
                    <input type="text" value="77" autocomplete="off" id="volume1_3" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#volume1_3').knobRot({
                                'classes': ['volume'],
                                'dragVertical': false,
                                'frameCount': 49,
                                'frameWidth': 149,
                                'frameHeight': 149,
                                'detent': true,
                                'detentThreshold': 5,
                                'minimumValue': 0,
                                'maximumValue': 100,
                                'hideInput': true
                            });
                        });
                    </script>
                </div>*@
            <div class="widget-knob pos1_1 widget-volume">
                <span class="eqComponentDescription">Treble</span>
                <input type="text" value="25" autocomplete="off" id="volume1_4" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume1_4').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'lowGain', '0');
                        });
                    });
                </script>
            </div>
            <div class="widget-knob pos1_2 widget-volume">
                <span class="eqComponentDescription">Mid</span>
                <input type="text" value="25" autocomplete="off" id="volume1_5" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume1_5').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'midGain', '0');
                        });
                    });
                </script>
            </div>
            <div class="widget-knob pos1_3 widget-volume">
                <span class="eqComponentDescription">Bass</span>
                <input type="text" value="25" autocomplete="off" id="volume1_6" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume1_6').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'highGain', '0');
                        });
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="componentBox box-recording">
        <div class="box-recordingLeft">
            <h2 id="recordingLbl" > 
                Record
            </h2>
            <a href="#" class="btnD btnD-pagination" hidefocus="true" style="outline: none; opacity: 1;" onclick="record();" id="recordBtn"><span>RECORD</span></a>
            <a href="#" class="btnD btnD-pagination" hidefocus="true" style="outline: none; opacity: 1; display:none" onclick="stopRecording();" id="stopBtn"><span>STOP</span></a>
        </div>
        <div class="box-recordingRight">
            <h2>
                Download
            </h2>
            
            <a href="" class="btnD btnD-pagination btnDisabled" hidefocus="true" id="saveLink" style="outline: none; opacity: 1;" download="recording.mp3"><span>SAVE</span></a>
        </div>
    </div>
    <div class="componentBox box-eq eqRight">
        <div class="controlEq">
            <div class="input_styled checklist pos1"><span class="eqComponentSwitchDescription">Low Pass Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice2_1" type="checkbox" id="invoice2_1" value="invoice" onclick="addLowPassFilter(this.checked, '1')"><label for="invoice2_1"></label></div></div>
            <div class="input_styled checklist pos2"><span class="eqComponentSwitchDescription">High Pass Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice2_2" type="checkbox" id="invoice2_2" value="invoice" onclick="addHighPassFilter(this.checked, '1')"><label for="invoice2_2"></label></div></div>
            <div class="input_styled checklist pos3"><span class="eqComponentSwitchDescription">Peaking Filter</span><div class="rowCheckbox checkbox-large"><input name="invoice2_3" type="checkbox" id="invoice2_3" value="invoice" onclick="addPeakingFilter(this.checked, '1')"><label for="invoice2_3"></label></div></div>
            @*<div class="input_styled checklist pos2"><span class="eqComponentSwitchDescription">Low Pass</span><div class="rowCheckbox checkbox-large"><input name="invoice2_2" type="checkbox" id="invoice2_2" value="invoice"><label for="invoice2_2"></label></div></div>
                <div class="input_styled checklist pos3"><span class="eqComponentSwitchDescription">Low Pass</span><div class="rowCheckbox checkbox-large"><input name="invoice2_3" type="checkbox" checked id="invoice2_3" value="invoice"><label for="invoice2_3"></label></div></div>*@
        </div>
        <div class="eqComponentList">
            <div class="widget-knob pos2_1 widget-volume">
                <span class="eqComponentDescription">Frequency</span>
                <input type="text" value="99" autocomplete="off" id="volume2_1" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume2_1').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 99,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeFrequency(this, '1');
                        });
                    });
                </script>
            </div>
            <div class="widget-knob pos2_2 widget-volume">
                <span class="eqComponentDescription">Quality</span>
                <input type="text" value="0" autocomplete="off" id="volume2_2" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume2_2').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeQuality(this, '1');
                        });
                    });
                </script>
            </div>
            @*<div class="widget-knob pos2_3 widget-volume">
                    <span class="eqComponentDescription">EQ Title3 etc</span>
                    <input type="text" value="77" autocomplete="off" id="volume2_3" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#volume2_3').knobRot({
                                'classes': ['volume'],
                                'dragVertical': false,
                                'frameCount': 49,
                                'frameWidth': 149,
                                'frameHeight': 149,
                                'detent': true,
                                'detentThreshold': 5,
                                'minimumValue': 0,
                                'maximumValue': 100,
                                'hideInput': true
                            });
                        });
                    </script>
                </div>*@
            <div class="widget-knob pos1_1 widget-volume">
                <span class="eqComponentDescription">Treble</span>
                <input type="text" value="25" autocomplete="off" id="volume2_4" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume2_4').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'lowGain', '1');
                        });
                    });
                </script>
            </div>
            <div class="widget-knob pos1_2 widget-volume">
                <span class="eqComponentDescription">Mid</span>
                <input type="text" value="25" autocomplete="off" id="volume2_5" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume2_5').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'midGain', '1');
                        });
                    });
                </script>
            </div>
            <div class="widget-knob pos1_3 widget-volume">
                <span class="eqComponentDescription">Bass</span>
                <input type="text" value="25" autocomplete="off" id="volume2_6" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#volume2_6').knobRot({
                            'classes': ['volume'],
                            'dragVertical': false,
                            'frameCount': 49,
                            'frameWidth': 149,
                            'frameHeight': 149,
                            'detent': true,
                            'detentThreshold': 5,
                            'minimumValue': 0,
                            'maximumValue': 100,
                            'hideInput': true
                        }).on('knobdrag', function (e) {
                            changeGain(this.value, 'highGain', '1');
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</div>

<div class="section-players clearfix">
    <div class="box-mix" style="display:none;">
        <div class="slider">
            <input type="range" name="value_range" value="270">
        </div>
    </div>
    @*<div class="componentBox box-mix2">
            <!-- Range slider -->
            <div class="range-slider">
                <div class="middlePoint"></div>
                <input id="price_range" type="text" name="price_range" value="270;800">
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    // Price Range Input
                    $("#price_range").rangeslider({
                        from: 50,
                        to: 1000,
                        limits: false,
                        scale: ['$50', '$1000'],
                        heterogeneity: ['50/500'],
                        step: 10,
                        smooth: true,
                        dimension: '$'
                    });
                });
            </script>
            <!-- Range slider -->
        </div>*@
    <div class="componentBox box-mix2">
        <div class="slider">
            <input type="range" name="value_range" value="50" oninput="crossFade(this);">
        </div>
    </div>
    <div class="componentBox box-player playerLeft">
        <!-- Widget Audio Player -->
        <div class="widget-container widget-audio">
            <div class="inner">
                <!-- jplayer-->
                <div id="jquery_jplayer_0" class="jp-jplayer"></div>
                <div id="jp_container_0" class="jp-audio">
                    <div class="jp-type-playlist">

                        <div class="jp-gui jp-interface">
                            <div class="song_title_wrap">
                                <div class="song_title" id="songTitle0"></div>
                            </div>
                            <div class="jp-controls-wrap">
                                <div class="jp-progress">
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                </div>
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                    <li><a href="javascript:;" class="jp-previous disabled" tabindex="1">previous</a></li>
                                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                    <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                                    <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                    @*<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>*@
                                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                                    <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                                    <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                                </ul>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                            </div>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                        <div class="jp-playlist" style="display: block !important;float: initial;width: 100%;">
                            <ul class="jp-playlist-inner">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ jplayer-->
            </div>
            <div class="fakeFileBtn btn-chooseFile btnD btnD-acute" style="margin-top: 10px;">
                <span>Add song</span>
                <input id="audio_file_player0" type="file" accept="audio/*" multiple="" hidefocus="true" class="gradient" style="outline: none;">
            </div>
            <div class="fakeFileBtn btn-chooseFile btnD btnD-acute" style="margin-top: 10px;">
                <span>Save Playlist</span>
                <input type="button" hidefocus="true" class="gradient" style="outline: none; cursor:default;" onclick="playlistSavePopup(0)">
            </div>
        </div>
        <!-- Widget Audio Player -->
    </div>
    <div class="componentBox box-player playerRight">
        <!-- Widget Audio Player -->
        <div class="widget-container widget-audio">
            <div class="inner">
                <!-- jplayer-->
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-playlist">

                        <div class="jp-gui jp-interface">
                            <div class="song_title_wrap">
                                <div class="song_title" id="songTitle1"></div>
                            </div>
                            <div class="jp-controls-wrap">
                                <div class="jp-progress">
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                </div>
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                    <li><a href="javascript:;" class="jp-previous disabled" tabindex="1">previous</a></li>
                                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                    <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                                    <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                    <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                    <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                                    <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                                    <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                                </ul>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                            </div>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                        <div class="jp-playlist" style="display: block !important;float: initial;width: 100%;">
                            <ul class="jp-playlist-inner">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ jplayer-->
            </div>
            <div class="fakeFileBtn btn-chooseFile btnD btnD-acute" style="margin-top: 10px;">
                <span>Add song</span>
                <input id="audio_file_player1" type="file" accept="audio/*" multiple="" hidefocus="true" class="gradient" style="outline: none;">
            </div>
            <div class="fakeFileBtn btn-chooseFile btnD btnD-acute" style="margin-top: 10px;">
                <span>Save Playlist</span>
                <input type="button" hidefocus="true" class="gradient" style="outline: none; cursor:default;" onclick="playlistSavePopup(1)">
            </div>
            <!-- Widget Audio Player -->
        </div>

    </div>
</div>

@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal1"> Launch demo modal 1 </button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal2"> Launch demo modal 2 </button>*@
<!-- Modal 1-->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalWindowContent">
            <!-- Modal Display playlists -->
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="cel1">
                            <button type="button" class="btn btn-info">1</button>
                        </td>
                        <td class="cel2">
                            <button type="button" class="btn btn-warning">2</button>
                        </td>
                        <td class="cel3">Playlist name 1</td>
                        <td class="cel4">
                            <button type="button" class="btn btn-danger"> DELETE </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="cel1">
                            <button type="button" class="btn btn-info">1</button>
                        </td>
                        <td class="cel2">
                            <button type="button" class="btn btn-warning">2</button>
                        </td>
                        <td class="cel3">Playlist name 2 </td>
                        <td class="cel4">
                            <button type="button" class="btn btn-danger"> DELETE </button>
                        </td>
                    </tr>
                </table>
            </div>*@

        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalWindow2Content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
            </div>

            <div class="modal-body">
                <div class="modal2Block initBlock">
                    <button type="button" class="btn btn-success btn-lg btn-block btnActionSave">SAVE</button>
                    <button type="button" class="btn btn-warning btn-lg btn-block btnActionUpdate">UPDATE</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">CANCEL</button>
                </div>

                <div class="modal2Block saveBlock">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="newPlaylistName" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newPlaylistName" placeholder="Playlist name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal2Block updateBlock">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="existingPlaylistName" class="col-sm-4 control-label">Existing playlist</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="existingPlaylistName">
                                    <option>Playlist name 1</option>
                                    <option>Playlist name 2</option>
                                    <option>Playlist name 3</option>
                                    <option>Playlist name 4</option>
                                    <option>Playlist name 5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>    


    <script>



    $(document).ready(function () {

        //$('.popup-with-form').magnificPopup({
        //    type: 'inline',
        //    preloader: false,
        //    focus: '#name',

        //    // When elemened is focused, some mobile browsers in some cases zoom in
        //    // It looks not nice, so we disable it:
        //    callbacks: {
        //        beforeOpen: function () {
        //            if ($(window).width() < 700) {
        //                this.st.focus = false;
        //            } else {
        //                this.st.focus = '#name';
        //            }
        //        }
        //    }
        //});//.magnificPopup('open');
        //$(document).on('click', '.popup-modal-dismiss', function (e) {
        //    e.preventDefault();
        //    $.magnificPopup.close();
        //});

        //define first player Playlist
        player_playlist.push(null);
        player_playlist[0] = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_0",
            cssSelectorAncestor: "#jp_container_0"
        }, [
            //{
            //    title: "Waiting All Night (feat. Ella Eyre)",
            //    mp3: "http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3"
            //}
        ], {
            playlistOptions: {
                enableRemoveControls: true
            },
            swfPath: "js",
            supplied: "mp3",
            wmode: "window",
            smoothPlayBar: false,
            keyEnabled: true,
            audioFullScreen: true // Allows the audio poster to go full screen via keyboard
        });

        //define second player Playlist
        player_playlist.push(null);
        player_playlist[1] = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
        }, [
            //{
            //    title: "Waiting All Night (feat. Ella Eyre)",
            //    mp3: "http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3"
            //}
        ], {
            playlistOptions: {
                enableRemoveControls: true
            },
            swfPath: "js",
            supplied: "mp3",
            wmode: "window",
            smoothPlayBar: false,
            keyEnabled: false,
            audioFullScreen: true // Allows the audio poster to go full screen via keyboard
        });

        

        files_player.push([]);
        addEqualiser();
    });

    </script>
    <script src="~/Scripts/main.js"></script>

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
    <script src="~/Scripts/recorderJs/recorder.js"></script>
