::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-track {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  }
::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); }
.rotknob-n-resize{ cursor: n-resize!important; }	.rotknob-e-resize{ cursor: e-resize!important; }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */   
body{ color: #959da6; font-size: 14px; position: relative; background: url(../Images/img/bgImg.png);}
.bodyContainter{}
.box-playlist{ overflow:hidden; }

.componentBox{ position:relative; background: url(../Images/img/componentBg3.png) repeat; border-top: 1px solid #52585F; border-left: 1px solid #3C434D; margin-bottom:15px;}
.componentHead{padding: 13px 20px 9px 12px; background: url(../Images/img/componentBg2.png) repeat;  border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0;  box-shadow: 0 2px 2px rgba(0,0,0,0.26); -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.26); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.26); }
.componentBox h3{padding-left: 25px; height: 20px; line-height: 16px; font-size: 16px; margin:0px; text-shadow: 1px 1px 1px rgba(0,0,0,0.33); color: #aeb6bd;background: url(../Images/img/icon-playlist.png) no-repeat;}

.componentBody{overflow:auto; position:absolute; top:42px; bottom:42px; left:0px; right:0px; }
.componentFooter{height: 42px; position:absolute; bottom:0px; left:0px; right:0px;   padding: 10px 17px 0 10px; background: url(../Images/img/componentBg4.png) repeat-x; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; }


.fakeFileBtn{position:relative; height:25px !important; width:150px; overflow:hidden; line-height:25px !important; padding:0 !important; text-align:center;}
.fakeFileBtn span { position:absolute;top:0px; left:0px; width:100%; height:100%; max-width:100%; max-height:100%; padding: 0; text-align: center; line-height: 25px !important; padding: 0 !important;}
.fakeFileBtn input {width:100%; height:100%; max-width:100%; max-height:100%; opacity:0; position:absolute;top:0px; left:0px; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
  color: black;
}


/* Ul version */	
.list-playlist{width:100%; padding:0px; list-style:none;}
.playlist-item{width:100%; height:20px; overflow:hidden;}
.playlist-item {cursor:pointer;}
.playlist-item .item-nr{width:10px; max-width:15px; float:left;}
.playlist-item .item-song{width:80%; float:left;}
 .playlist-item .item-artistName{}
 .playlist-item .item-songName{}
.playlist-item .item-songDuration{width:10%; max-width:30px; float:left;}

.list-playlist .item-nr{width:10px;}
.list-playlist  .item-songDuration{width:40px; text-align:right}

.playlistLeft{float:left;width:48%; margin-left:1%; margin-right:1%; box-sizing:border-box;}
.playlistRight{float:right; width:49%; margin-right:1%;  box-sizing:border-box;}
.item.active{background-color: rgba(0,0,0,0.5);}
.item {line-height:22px;}
.item:hover{background-color: rgba(0,0,0,0.5); cursor:pointer;}

/* EQ */
.section-eq {position:relative;}
.section-eq  .eqLeft{float:left; margin-left:1%;  box-sizing:border-box;}
.section-eq  .eqRight{float:right;  margin-right:1%;  box-sizing:border-box;}

.box-eq{ position:relative; height:260px; width:510px;}
.eqComponentList{width:330px; height:200px; position:relative; left: 50%; transform: translateX(-50%);}
.box-eq  .widget-knob{width:88px; height:88px; transform: scale(0.35); position:absolute !important; }
.eqComponentDescription{ position: absolute; top: -24px; left: -20px; right: -20px; font-size: 40px; text-align: center;}
.eqComponentSwitchDescription{ position: absolute; top: -17px; left: -20px; right: -20px; text-align: center;}
.box-eq .pos1_1 {top:-56px; left: -70px; }
.box-eq .pos1_2 {top:-56px; left:  39px; }
.box-eq .pos1_3 {top:-56px; left: 146px; }
.box-eq .pos2_1 {top: 54px; left: -70px; }
.box-eq .pos2_2 {top: 54px; left:  39px; }
.box-eq .pos2_3 {top: 54px; left: 146px; }
.controlEq{width:330px; height: 29px;  box-sizing: border-box; position:absolute; bottom:5px; left:50%; transform:translateX(-50%);}
.controlEq .input_styled{position:absolute; top:6px; width: 80px;}
.controlEq .pos1{ left:14px;}
.controlEq .pos2{ left:131px;}
.controlEq .pos3{ left:232px;}


/* end EQ */


.componentBox.box-recording{ position: absolute; /*top: 140px;*/ left: 545px; right: 545px; height: 135px; overflow: hidden; padding: 15px; box-sizing: border-box;/*position: absolute; top: 0px; left: 545px; right: 545px; height: 135px; overflow: hidden; padding: 15px; box-sizing: border-box;*/}
.box-recordingLeft {width:50%; float:left; padding:0px; text-align: center;}
.box-recordingRight {width:50%; float:right; padding:0px; text-align: center; border-left: 1px solid #3d444b;}
.box-recordingLeft h2{}

.section-players{position:relative;}
.box-player{ position:relative; /*height:115px;*/ width:510px;}
.section-players .playerLeft{float:left; margin-left:1%;  box-sizing:border-box;}
.section-players  .playerRight{float:right;  margin-right:1%;  box-sizing:border-box;}

.box-player .widget-container{margin-bottom:10px;}
.box-player .song_title {/*max-height: 150px;*/height: 33px;text-align: center;line-height: 33px;}
.projName{position: absolute; top: 0%; left: 545px; right: 545px; height: 135px; overflow: hidden; padding: 15px; box-sizing: border-box;}
.box-mix{ position: absolute; top: 0%; left: 545px; right: 545px; height: 115px; overflow: hidden; padding: 15px; box-sizing: border-box;}
.componentBox.box-mix2{position: absolute; top: 0px; left: 545px; right: 545px; height: 135px; overflow: hidden; padding: 15px; box-sizing: border-box; /*position: absolute; top: 95px; left: 545px; right: 545px; height: 115px; overflow: hidden; padding: 15px; box-sizing: border-box;*/}
.componentBox.box-mix2 .range-slider{position:relative;}
.componentBox.box-mix2 .middlePoint{width:2px; height:15px; display:block; background: rgba(0,0,0,0.5); position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%);z-index:999;}


/* Define default sizes of components */
.box-playlist{height:300px; }
.bodyContainter{padding-top:80px;}



@media only screen and (max-width: 1380px) {
	.box-eq { width: 320px;}

	.componentBox.box-recording{height:260px; min-width:135px; left: 360px; right: 360px;}
	.box-recordingLeft, 
	.box-recordingRight{float:none; width: 100%; margin-bottom:15px; margin-top: 15px;}
	.box-recordingLeft { margin-bottom: 77px;}
	.componentBox.box-recording h2{font-size: 18px; margin-bottom: 3px;}
	.componentBox.box-recording .btnD{width:100%; max-width:500px;}
	
	.box-player{width:320px;}
	.componentBox.box-mix2{ height:193px; min-width:135px; left: 360px; right: 360px; top:0px;}
		.componentBox.box-mix2 .slider{ position:relative; top: 50%; transform: translateY(-50%);}
}
@media only screen and (max-width: 890px) {
	.componentBox.box-recording { position: static; width:320px;}
	.section-eq .eqLeft { float: none; margin-left: 0px;}
	.section-eq .eqRight { float: none; margin-right: 0px;}
	
	.componentBox.box-mix2 { position: static; width:320px; height:auto;}

	.section-players .playerLeft{ float: none; margin-left: 0px; margin-right: 0px;}
	.section-players .playerRight{ float: none; margin-left: 0px; margin-right: 0px;}

}

@media only screen and (min-width: 321px) and (max-width: 890px) {
	.componentBox.box-recording { position:relative; left: 50%; transform: translateX(-50%);}
	.section-eq .eqLeft { left: 50%; transform: translateX(-50%);}
	.section-eq .eqRight { left: 50%; transform: translateX(-50%);}

	
	.componentBox.box-mix2 { position:relative; left: 50%; transform: translateX(-50%);}
	.box-player { left: 50%; transform: translateX(-50%);}	
}

.componentBox .slider{top: 50%;position: relative;transform: translateY(-50%);}
.componentBox  input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    /*border: 1px solid white;*/
    
    /*required for proper track sizing in FF*/
    width: 100%;
    height:20px;
}
.componentBox  input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 20px; border: none; border-radius: 3px;background-image: url('../Libraries/dark-velvet/images/price-head-yellow.png');}
.componentBox  input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; margin-top: -7px; 

width: 36px; height: 46px; background: url(../Images/img/progressbars.png) no-repeat;
background-size:auto 150px;	
background-position: -6px -66px;

}
.componentBox  input[type=range]::-moz-range-track {width: 100%; height: 5px; border: none; border-radius: 3px; background-image: url('../Libraries/dark-velvet/images/price-head-yellow.png');}
.componentBox  input[type=range]::-moz-range-thumb { border: none; margin-top: -8px; width: 33px; height: 33px; background: url(../Images/img/progressbars.png) 0 -45px no-repeat;}
    .componentBox input[type=range]::-ms-track {
        width: 300px;
        height: 5px;
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;
        /*remove default tick marks*/
        color: transparent;
        width: 100%;
        height: 5px;
        border: none;
        border-radius: 3px;
        background-image: url('../Libraries/dark-velvet/images/price-head-yellow.png');
    }
.componentBox  .componentBox  input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.componentBox  input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.componentBox  input[type=range]::-ms-thumb { border: none; border: none; margin-top: -8px; width: 33px; height: 33px; background: url(../Images/img/progressbars.png) 0 -45px no-repeat; }
.componentBox  input[type=range]:focus::-ms-fill-lower { background: #888;}
.componentBox  input[type=range]:focus::-ms-fill-upper { background: #ccc;}